<nav class="collapse navbar-collapse" id="bs-navbar">
    <a class="navbar-brand" href="/">Vidly</a>
    
    <ul class="nav navbar-nav">

        <li class="nav-item">@Html.ActionLink("New Rental", "New", "Rentals", new object { }, new { @class = "nav-link" })</li>
        <li class="nav-item">@Html.ActionLink("Customer", "", "Customers", new object { }, new { @class = "nav-link" })</li>
        <li class="nav-item">@Html.ActionLink("Movies", "", "Movies", new object { }, new { @class = "nav-link" })</li>

    </ul>

        @Html.Partial("_LoginPartial")
    
</nav>

