
@{
    ViewBag.Title = "New Rental Form";
}

<h2> Rental Form</h2>



<form id="NewRental">
    <div class="form-group">
        <label>Customer</label>
        <div class="tt-container">
            <input id="customer" class="form-control" type="text" value="" />
        </div>
    </div>

    <div class="form-group">
        <label>Movie</label>
        <div class="tt-container">
            <input id="movie" class="form-control" type="text" value="" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <ul id="movies" class="list-group"> </ul>
        </div>
    </div>

    <button class="btn btn-primary">
        Save
    </button>

</form>


@section scripts {
    <script>

        $(document).ready(function () {

            var vm = {
                MoviesId : new Array()
            };

            var customers = new Bloodhound({
              datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
              queryTokenizer: Bloodhound.tokenizers.whitespace,
              remote: {
                url: '/api/customers?query=%QUERY',
                wildcard: '%QUERY'
              }
            });

            $('#customer').typeahead({
                minLength: 3,
                highlight : true
            }, {
              name: 'customers',
              display: 'name',
                source: customers
                }).on('typeahead:select', function (e, customer) {
                    console.log(customer);
                    vm.customerId = customer.id;
                });


            var movies = new Bloodhound({
              datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
              queryTokenizer: Bloodhound.tokenizers.whitespace,
              remote: {
                url: '/api/movies?query=%QUERY',
                wildcard: '%QUERY'
              }
            });

            $('#movie').typeahead({
                minLength: 3,
                highlight : true
            }, {
              name: 'movies',
              display: 'name',
                source: movies
                }).on('typeahead:select', function (e, movie) {
                    $("#movies").append("<li class='list-group-item'>" + movie.name + "</li>");

                    $("#movie").typeahead("val", "");

                    vm.MoviesId.push(movie.id);
            });

            

            $("#NewRental").submit(function (e) {
                e.preventDefault();
                console.log(vm);

                $.ajax({
                    url: "/api/rentals/CreateNewRental",
                    method: "post",
                    data: vm
                }).done(function () {
                    toastr.success("Rentals successfully recorded");
                }).fail(function () {
                    toastr.error("Something unexpected happened");
                });

            });

        });


    </script>    
}